@using ComponentCompareCenter.Models.Siniflar
@model List<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<h2>Kategori</h2>

<table class="table table-primary table-hover">
    <tr>
        <th>ID</th>
        <th>Kategori Ad</th>
        
        <th>Güncelle</th>
    </tr>

    @foreach (var k in Model)
    {
        <tr>
            <td>
                @k.KategoriID
            </td>
            <td>
                @k.KategoriAd
            </td>
            
            <td>
                <a href="/Kategori/KategoriGetir/@k.KategoriID" class="btn btn-outline-primary">Güncelle</a>
            </td>
        </tr>
    }




</table>
<a href="/Kategori/KategoriEkle" class="btn btn-outline-primary">Ekle</a>